[submodule "slambook2/3rdparty/g2o"]
	path = slambook2/3rdparty/g2o
	url = git@github.com:RainerKuemmerle/g2o.git
[submodule "slambook2/3rdparty/Pangolin"]
	path = slambook2/3rdparty/Pangolin
	url = git@github.com:stevenlovegrove/Pangolin.git
